## Milena Macedo

## *String*

##Criar uma string python é tão simples, vamos vê alguns exemplos abaixo:

In [ ]:
ola ='Olá mundo!'
print(ola)

Olá mundo!

Podemos acessar uma string pelo seu index.

In [ ]:
ola = 'Olá Mundo'
print(ola[0])
print(ola[1])
print(ola[2])

O
l
á

Podemos fatiar a string, indexando um intervalo pela sequência (imprimindo os cinco primeiros índices da sequência).

In [ ]:
nome='Viviane'
print(nome[0:4])
print(nome[0:5])
print(nome[1:5])

Vivi
Vivia
ivia

String é um objeto iterável.

In [ ]:

for i in "Viviane":
  print(i)

V
i
v
i
a
n
e

String pode ser concatenadas!!

In [ ]:
nome = "Alex "
sobrenome = "Silva "
concatena = nome + sobrenome
print(concatena)

Alex Silva

#Métodos comuns para strings
##Método **len()** <br/>
Mostra o tamanho da string

In [ ]:
nome="Paulo"
len(nome)

5

Utilizando método len(), no for para percorrer o nome:

In [ ]:
nome="Carlos"

for i in range(len(nome)):
  print(nome[i])

C
a
r
l
o
s

##Método str()
Converte em string.

In [ ]:
num = 12
print('a variavel num {} é: {}'.format(num, type(num)))

converter = str(num)
print('a variavel str(num) {} é: {}'.format(converter, type(converter)))

a variavel num 12 é: <class 'int'>
a variavel str(num) 12 é: <class 'str'>

##Método upper()
Caixa alta.

In [ ]:
nome ='pedro'

nome.upper()

'PEDRO'

##Método lower()
Caixa baixa.

In [ ]:
nome ='PEDRO'

nome.lower()

'pedro'

## Método split()
Separa uma string conforme um delimitador.

In [ ]:
s = 'n o m e'

s.split(' ')

nome

['n', 'o', 'm', 'e']

## Método replace(busca,substituir)
Busca e substitui um caracter ou conjunto de caracter.

In [ ]:
p = 'T e x t o'
p = p.replace(' ','')
print(p)

Texto