## Milena Macedo


#*Lista*


Durante o desenvolvimento de software, independentemente de plataforma e linguagem, é comum a necessidade de lidar com listas. Por exemplo, elas podem ser empregadas para armazenar contatos telefônicos ou tarefas.

Uma lista é uma estrutura de dados composta por itens organizados de forma linear, na qual cada um pode ser acessado a partir de um índice, que representa sua posição na coleção (iniciando em zero).

Antes, ao discutir as strings, introduzimos o conceito de uma sequência no Python. As listas podem ser pensadas na versão mais geral de uma sequência no Python. Diferentemente das strings, elas são mutáveis, o que significa que os elementos dentro de uma lista podem ser alterados!

##Criando listas

Em Python, uma lista é representada como uma sequência de objetos separados por vírgula e dentro de colchetes [ ], assim, uma lista vazia, por exemplo, pode ser representada por colchetes sem nenhum conteúdo.

In [ ]:
# Lista Vazia
numero = 1
boolean = True

nomes = []

print(type(numero))
print(type(boolean))
print(type(nomes))

<class 'int'>
<class 'bool'>
<class 'list'>

In [ ]:
print(nomes)

nomes = ['Maria', 'José', 'Joana', 'Larissa']

print(nomes)

['Maria', 'José', 'Joana', 'Larissa']
['Maria', 'José', 'Joana', 'Larissa']

In [ ]:
numeros = [1,55,23,658,12]

print(numeros)

[1, 55, 23, 658, 12]

Assim como as strings, a função **len ()** informa quantos itens estão na sequência da lista.

In [ ]:
numeros = [1,55,23,658,12]

len(numeros)

5

In [ ]:
# Nessa Lista temos vários tipos de dados!!

lista = ["Lucas","Victor",255,63,'C',25.6]

print(lista)

['Lucas', 'Victor', 255, 63, 'C', 25.6]

As possibilidades de declaração e atribuição de valores a uma lista são várias, e a opção por uma ou outra dependerá do contexto e aplicação.

##Operadores de lista

A linguagem Python dispõe de vários métodos e operadores para auxiliar na manipulação de listas. O primeiro e mais básico é o operador de acesso aos seus itens a partir dos índices.

Índices | 0 | 1 | 2| 3 |
:---------: | :------: | :-------: | :-------: | :-------:
**Lista** | "Carlos" | "Pedro" | "João" | "Paulo"

        Tabela 1. Representação de uma lista e os índices dos elementos

In [ ]:
listaNomes = ["Carlos","Pedro","João","Paulo"]

print(listaNomes[0])

print(listaNomes[1])

print(listaNomes[2])

print(listaNomes[3])

Carlos
Pedro
João
Paulo

Por exemplo, o primeiro objeto, no índice 0, é a string 'Carlos'. Tendo em mente essa organização interna, podemos acessar cada um dos elementos utilizando a sintaxe lista[índice], como mostra a Tabela 1.

Caso você tente acessar um índice que não exista, retornará um erro se não houver.

In [ ]:
listaNomes = ["Carlos","Pedro","João","Paulo"]

print(listaNomes[5])

IndexError: ignored

## Fatiamento
Fatiamento funcionam como em sequências de caracteres. Vamos fazer uma nova lista para nos lembrar de como isso funciona:

In [ ]:
num = [2,3,6,87,1,0,3,6,25,478]

print(num[2:9])
print(num[1:4])
print(num[:3]) # index 0, 1, 2
print(num[8:])
print(num[-1])
print(num[-2])
print(num[::-1])

[6, 87, 1, 0, 3, 6, 25]
[3, 6, 87]
[2, 3, 6]
[25, 478]
478
25
[478, 25, 6, 3, 0, 1, 87, 6, 3, 2]

## Concatenação e multiplicação


Também é possível concatenar listas por meio do operador de adição + e multiplicá-las por um inteiro, o que gerará várias cópias dos seus itens. O código a seguir traz alguns exemplos dessas operações:

In [ ]:
#Concatenar

lista1 = [2,3,6,87,1,0,3,6,25,478]
lista2 = [0,0,0,0]

listaNova1 = lista1 + lista2
listaNova2 = lista2 + lista1

print(lista1)
print(lista2)
print(listaNova1)
print(listaNova2)

[2, 3, 6, 87, 1, 0, 3, 6, 25, 478]
[0, 0, 0, 0]
[2, 3, 6, 87, 1, 0, 3, 6, 25, 478, 0, 0, 0, 0]
[0, 0, 0, 0, 2, 3, 6, 87, 1, 0, 3, 6, 25, 478]

In [ ]:
#Multiplicação

num = [2,3,6,87,1,0,3,6,25,478]

#Antes
print(num)

listaNova = num * 3

#Depois da multiplicação
print(listaNova)

[2, 3, 6, 87, 1, 0, 3, 6, 25, 478]
[2, 3, 6, 87, 1, 0, 3, 6, 25, 478, 2, 3, 6, 87, 1, 0, 3, 6, 25, 478, 2, 3, 6, 87, 1, 0, 3, 6, 25, 478]

Podemos utilizar a concatenação de lista, para todos os tipos de dados !!

## Valores mínimos, máximos e soma
O Python oferece ainda as funções **min(), max() e sum()**, através das quais é possível encontrar, respectivamente, o menor valor, o maior valor ou ainda realizar a soma de todos os elementos da lista.

In [ ]:
num = [2,3,6,87,1,0,3,6,25,478]

print("Valor minimo ",min(num))
print("Valor maximo ",max(num))
print("Soma ",sum(num))

Valor minimo  0
Valor maximo  478
Soma  611

#Métodos das listas

Anteriormente, vimos os operadores e funções que recebem uma lista como argumento, retornam um resultado, mas não efetuam alterações na sua estrutura. A partir de agora veremos métodos pertencentes ao tipo lista, e que nos permitem incluir ou remover elementos, bem como classificar as coleções.

O primeiro método a ser analisado é o **append()**, que tem por objetivo adicionar um novo elemento no final da lista, conforme mostra o código abaixo:

In [ ]:
listaNomes = ["Carlos","Pedro","João","Paulo"]
print(listaNomes)
listaNomes.append("Maria")
print(listaNomes)
listaNomes.append('Zé')
print(listaNomes)

['Carlos', 'Pedro', 'João', 'Paulo']
['Carlos', 'Pedro', 'João', 'Paulo', 'Maria']
['Carlos', 'Pedro', 'João', 'Paulo', 'Maria', 'Zé']

Após criar, na primeira linha, uma lista com um conjunto de valores, adicionamos a ela um novo item: “Maria”. Como podemos ver na linha 4, o elemento é adicionado após o último item. Caso desejemos fazer essa inserção em uma posição específica, podemos utilizar o método **insert()** que, além do elemento a ser inserido, recebe também o índice que ele deve assumir, como mostra o código abaixo:

In [ ]:
listaNomes = ["Carlos","Pedro","João","Paulo"]

print(listaNomes)

listaNomes.insert(1,"Ana")

print(listaNomes)

['Carlos', 'Pedro', 'João', 'Paulo']
['Carlos', 'Ana', 'Pedro', 'João', 'Paulo']

O próximo método importante é o **pop()**, que remove o último item da lista e o retorna como resultado da operação. Caso seja necessário remover um índice específico, basta informá-lo como argumento.

In [ ]:
listaNomes = ["Carlos","Pedro","João","Paulo"]

print(listaNomes)

#Remove o último
listaNomes.pop()

print(listaNomes)

#Remove o elemento que está neste índice
listaNomes.pop(1)

print(listaNomes)

['Carlos', 'Pedro', 'João', 'Paulo']
['Carlos', 'Pedro', 'João']
['Carlos', 'João']

Nos dois casos, a remoção foi feita com base na posição do objeto, porém, há situações em que esse índice é desconhecido e desejamos remover o item a partir do seu valor. Para isso temos o método **remove(item)**

In [ ]:
listaNomes = ["Carlos","Carlos","Pedro","João","Paulo"]

print(listaNomes)

listaNomes.remove("Carlos")

print(listaNomes)

['Carlos', 'Carlos', 'Pedro', 'João', 'Paulo']
['Carlos', 'Pedro', 'João', 'Paulo']

Outros métodos muito importantes ao trabalhar com listas são o **sort()**, que ordena a lista, e o **reverse()**, que inverte as posições dos itens.

In [ ]:
listaNomes = ['Carlos','Pedro','João','Paulo']
listaNomes.sort()
print(listaNomes)
listaNomes.reverse()
print(listaNomes)

['Carlos', 'João', 'Paulo', 'Pedro']
['Pedro', 'Paulo', 'João', 'Carlos']

In [ ]:
listNum = [6,5,8,98,1,0,3,56,7,3]
listNum.sort()
print(listNum)
listNum.reverse()
print(listNum)

[0, 1, 3, 3, 5, 6, 7, 8, 56, 98]
[98, 56, 8, 7, 6, 5, 3, 3, 1, 0]

Por fim, temos ainda o método **count()**, que retorna o número de ocorrências de determinado objeto, passado como parâmetro, em uma lista.

In [ ]:
listaNomes = ['Carlos','Pedro','Paulo','João','Paulo']
listaNomes.count('Paulo')

2

## Percorrendo uma Lista

Utilizando a estrutura de repetição FOR:

In [ ]:
listaNomes = ['Carlos','Pedro','João','Paulo']
listNum = [6,5,8,98,1,0,3,56,7,3]

print("\nLista de Nomes:\n")
for i in range(len(listaNomes)):
  print(listaNomes[i])
  
print("\nLista de números:\n")
for k in range(len(listNum)):
  print(listNum[k])

Utilizando a estrutura de repetição WHILE:

In [ ]:
lista = [1,2,3,4,5]
x = 0
num_elementos_lista = len(lista)
while(x < num_elementos_lista):
    print(lista[x])
    x+=1

Como preencher uma lista, utilizando estrutura de repetição:

In [ ]:
#Adicionando 4 números em uma lista:

lista = []
tamanho = 4

for i in range(tamanho):
  num = int(input("Digite um número:\n"))
  lista.append(num)
  
print(lista)

Digite um número:
5
Digite um número:
8
Digite um número:
9
Digite um número:
6
[5, 8, 9, 6]